In [ ]:
import os
import json
import re
JSON_FILE_PATH = "top_250_movies.json"
SUMMARIES_DIR = "ozetler"

def create_safe_filename(title):
    safe_name = re.sub(r'[\\/*?:"<>|]', "_", title)
    # Sonuna .txt uzantısını ekle
    return f"{safe_name}.txt"

def analyze_summaries():

    try:
        with open(JSON_FILE_PATH, "r", encoding="utf-8") as f:
            data = json.load(f)
    except FileNotFoundError:
        print(f"HATA: '{JSON_FILE_PATH}' dosyası bulunamadı. Lütfen dosya yolunu kontrol edin.")
        return
    except json.JSONDecodeError:
        print(f"HATA: '{JSON_FILE_PATH}' dosyası geçerli bir JSON formatında değil.")
        return

    master_movie_list = []
    if isinstance(data, list):
        for movie in data:
            if "title" in movie:
                master_movie_list.append(movie["title"])
    
    if not master_movie_list:
        print("JSON dosyasından hiç film başlığı okunamadı.")
        return

    print(f"JSON dosyasından toplam {len(master_movie_list)} film başlığı başarıyla okundu.")
    print("-" * 40)

    if not os.path.exists(SUMMARIES_DIR):
        print(f"HATA: '{SUMMARIES_DIR}' klasörü bulunamadı. Lütfen klasör adını kontrol edin.")
        return
        
    actual_files = os.listdir(SUMMARIES_DIR)
    print(f"'{SUMMARIES_DIR}' klasöründe toplam {len(actual_files)} dosya bulundu.")
    print("-" * 40)
.
    missing_files = []
    zero_byte_files = []
    no_extension_files = []
    
    expected_filenames = set()
    for title in master_movie_list:
        expected_filename = create_safe_filename(title)
        expected_filenames.add(expected_filename)
        if expected_filename not in actual_files:
            missing_files.append(title)
            
    for filename in actual_files:
        full_path = os.path.join(SUMMARIES_DIR, filename)
        
        if not filename.endswith('.txt'):
            no_extension_files.append(filename)
        
        try:
            if os.path.getsize(full_path) == 0:
                zero_byte_files.append(filename)
        except OSError as e:
            print(f"Dosya boyutu okunurken hata: {filename} - {e}")

    print("\n✅ ANALİZ SONUÇLARI ✅\n")

    if missing_files:
        print(f"--- ❌ EKSİK VEYA İSMİ HATALI ÖZET DOSYALARI ({len(missing_files)} adet) ---")
        for i, title in enumerate(missing_files, 1):
            print(f"{i}. {title}")
    else:
        print("--- ✅ Tüm filmlerin özeti oluşturulmuş görünüyor. ---")

    print("\n" + "-" * 40 + "\n")

    if zero_byte_files:
        print(f"--- ❌ 0 KB BOYUTUNDA (BOŞ) DOSYALAR ({len(zero_byte_files)} adet) ---")
        for i, filename in enumerate(zero_byte_files, 1):
            print(f"{i}. {filename}")
    else:
        print("--- ✅ 0 KB boyutunda dosya bulunamadı. ---")

    print("\n" + "-" * 40 + "\n")
    with open("missfilmler.txt", "w", encoding="utf-8") as f:
            for film in missing_files:
                f.write(film + "\n")

    if no_extension_files:
        print(f"--- ❌ '.txt' UZANTISI OLMAYAN DOSYALAR ({len(no_extension_files)} adet) ---")
        for i, filename in enumerate(no_extension_files, 1):
            print(f"{i}. {filename}")
    else:
        print("--- ✅ Tüm dosyalar '.txt' uzantısına sahip. ---")


if __name__ == "__main__":
    analyze_summaries()

JSON dosyasından toplam 250 film başlığı başarıyla okundu.
----------------------------------------
'ozetler' klasöründe toplam 238 dosya bulundu.
----------------------------------------

✅ ANALİZ SONUÇLARI ✅

--- ❌ EKSİK VEYA İSMİ HATALI ÖZET DOSYALARI (37 adet) ---
1. The Lord of the Rings: The Return of the King
2. The Lord of the Rings: The Fellowship of the Ring
3. The Lord of the Rings: The Two Towers
4. Spider-Man: Into the Spider-Verse
5. Primal: Tales of Savagery
6. A Silent Voice: The Movie
7. Gabriel's Inferno: Part II
8. Gabriel's Inferno: Part III
9. Spider-Man: Across the Spider-Verse
10. Léon: The Professional
11. Violet Evergarden: The Movie
12. Neon Genesis Evangelion: The End of Evangelion
13. Taylor Swift: Reputation Stadium Tour
14. Avengers: Endgame
15. Avengers: Infinity War
16. Evangelion: 3.0+1.0 Thrice Upon a Time
17. Ultraman: Rising
18. Justice League Dark: Apokolips War
19. Puss in Boots: The Last Wish
20. Demon Slayer -Kimetsu no Yaiba- The Movie: Mugen Train
21. The Prestige
22. Coco
23. The Handmaiden
24. Shutter Island
25. My Mom Is a Character 3
26. Maquia: When the Promised Flower Blooms
27. Doctor Who: The Day of the Doctor
28. Steven Universe: The Movie
29. Top Gun: Maverick
30. Black Clover: Sword of the Wizard King
31. My Hero Academia: Heroes Rising
32. Violet Evergarden: Eternity and the Auto Memory Doll
33. Miraculous World: New York, United HeroeZ
34. Harry Potter and the Deathly Hallows: Part 2
35. Along with the Gods: The Two Worlds
36. Along with the Gods: The Last 49 Days
37. 2001: A Space Odyssey

----------------------------------------

--- ❌ 0 KB BOYUTUNDA (BOŞ) DOSYALAR (25 adet) ---
1. 2001
2. A Silent Voice
3. Along with the Gods
4. Avengers
5. Black Clover
6. Demon Slayer -Kimetsu no Yaiba- The Movie
7. Doctor Who
8. Evangelion
9. Gabriel's Inferno
10. Harry Potter and the Deathly Hallows
11. Justice League Dark
12. Léon
13. Maquia
14. Miraculous World
15. My Hero Academia
16. Neon Genesis Evangelion
17. Primal
18. Puss in Boots
19. Spider-Man
20. Steven Universe
21. Taylor Swift
22. The Lord of the Rings
23. Top Gun
24. Ultraman
25. Violet Evergarden

----------------------------------------

--- ❌ '.txt' UZANTISI OLMAYAN DOSYALAR (25 adet) ---
1. 2001
2. A Silent Voice
3. Along with the Gods
4. Avengers
5. Black Clover
6. Demon Slayer -Kimetsu no Yaiba- The Movie
7. Doctor Who
8. Evangelion
9. Gabriel's Inferno
10. Harry Potter and the Deathly Hallows
11. Justice League Dark
12. Léon
13. Maquia
14. Miraculous World
15. My Hero Academia
16. Neon Genesis Evangelion
17. Primal
18. Puss in Boots
19. Spider-Man
20. Steven Universe
21. Taylor Swift
22. The Lord of the Rings
23. Top Gun
24. Ultraman
25. Violet Evergarden

In [6]:
import sqlite3

def create_empty_db_with_schema(db_path: str, schema_sql_file: str):

    with open(schema_sql_file, 'r') as f:
        schema_sql = f.read()
    
    conn = sqlite3.connect(db_path)
    cursor = conn.cursor()
    cursor.executescript(schema_sql)
    conn.commit()
    conn.close()
    print(f"'{db_path}' üzerinde şema oluşturuldu.")

def verify_sql_syntax(db_path: str, sql_query: str) -> tuple[bool, str]:
    if not sql_query.strip().upper().startswith("SELECT"):
        return (False, "Güvenlik hatası: Sadece SELECT sorguları doğrulanabilir.")

    try:
        conn = sqlite3.connect(db_path)
        cursor = conn.cursor()
        
        explained_query = f"EXPLAIN QUERY PLAN {sql_query}"
        cursor.execute(explained_query)
        conn.close()
        return (True, "Sorgu geçerli.")
    except sqlite3.Error as e:
        return (False, f"Sorgu geçersiz: {e}")

DB_PATH = 'movies_final_25.db'

valid_query = "SELECT T1.title FROM movies AS T1 INNER JOIN movie_genres AS T2 ON T1.imdb_id = T2.movie_imdb_id INNER JOIN genres AS T3 ON T2.genre_id = T3.id WHERE T3.name = 'Action' AND T1.original_language = 'en' LIMIT 5"
is_valid, message = verify_sql_syntax(DB_PATH, valid_query)
print(f"'{valid_query[:30]}...': {is_valid}, Mesaj: {message}")

invalid_query = "SELECT title FROM movies"
is_valid, message = verify_sql_syntax(DB_PATH, invalid_query)
print(f"'{invalid_query[:30]}...': {is_valid}, Mesaj: {message}")

'SELECT T1.title FROM movies AS...': True, Mesaj: Sorgu geçerli.
'SELECT title FROM movies...': True, Mesaj: Sorgu geçerli.

In [9]:
import json
import sqlite3
import re

TXT_PATH = "verii.txt"
DB_PATH = "movies_final.db"

valid_queries = []
invalid_queries = []

conn = sqlite3.connect(DB_PATH)
conn.execute("PRAGMA foreign_keys = OFF;")
cursor = conn.cursor()

sql_pattern = re.compile(r"^\s*(SELECT|INSERT|UPDATE|DELETE|WITH)\b", re.IGNORECASE)

with open(TXT_PATH, "r", encoding="utf-8") as f:
    for line_no, line in enumerate(f, start=1):
        try:
            data = json.loads(line.strip())
        except json.JSONDecodeError:
            continue
        
        sql_text = None
        if isinstance(data.get("output"), str) and sql_pattern.match(data["output"]):
            sql_text = data["output"]

        elif isinstance(data.get("input"), dict):
            for val in data["input"].values():
                if isinstance(val, str) and sql_pattern.match(val):
                    sql_text = val
                    break

        if sql_text:
            try:
                cursor.execute(sql_text)
                valid_queries.append((line_no, sql_text))
            except Exception as e:
                invalid_queries.append((line_no, sql_text, str(e)))

print("\n✅ Geçerli SQL sorguları:")
for ln, q in valid_queries:
    print(f"  [Satır {ln}] {q}")

print("\n❌ Hatalı SQL sorguları:")
for ln, q, err in invalid_queries:
    print(f"  [Satır {ln}] {q}\n    Hata: {err}")

conn.close()

✅ Geçerli SQL sorguları:
  [Satır 3] SELECT runtime FROM movies WHERE title = '12 Angry Men'
  [Satır 6] SELECT T1.title FROM movies AS T1 WHERE T1.imdb_id IN (SELECT T2.movie_imdb_id FROM movie_crew AS T2 INNER JOIN crew_members AS T3 ON T2.crew_member_id = T3.id WHERE T3.name = 'Quentin Tarantino' AND T2.job = 'Director') AND T1.imdb_id IN (SELECT T4.movie_imdb_id FROM movie_genres AS T4 INNER JOIN genres AS T5 ON T4.genre_id = T5.id WHERE T5.name = 'Crime') AND T1.imdb_id IN (SELECT movie_imdb_id FROM movie_cast INNER JOIN actors ON movie_cast.actor_id = actors.id WHERE actors.name = 'Samuel L. Jackson') AND T1.imdb_id IN (SELECT movie_imdb_id FROM movie_cast INNER JOIN actors ON movie_cast.actor_id = actors.id WHERE actors.name = 'Uma Thurman')
  [Satır 9] SELECT T1.title FROM movies AS T1 INNER JOIN movie_cast AS T2 ON T1.imdb_id = T2.movie_imdb_id INNER JOIN actors AS T3 ON T2.actor_id = T3.id WHERE T3.name = 'Al Pacino' AND T1.imdb_id NOT IN (SELECT T4.movie_imdb_id FROM movie_crew AS T4 INNER JOIN crew_members AS T5 ON T4.crew_member_id = T5.id WHERE T5.name = 'Francis Ford Coppola' AND T4.job = 'Director')
  [Satır 77] SELECT T1.title, T1.release_date FROM movies AS T1 INNER JOIN movie_crew AS T2 ON T1.imdb_id = T2.movie_imdb_id INNER JOIN crew_members AS T3 ON T2.crew_member_id = T3.id WHERE T3.name = 'Christopher Nolan' AND T2.job = 'Director' ORDER BY T1.release_date DESC
  [Satır 78] SELECT T1.title FROM movies AS T1 WHERE T1.release_date > '2010-12-31' AND T1.imdb_id IN (SELECT T2.movie_imdb_id FROM movie_genres AS T2 INNER JOIN genres AS T3 ON T2.genre_id = T3.id WHERE T3.name = 'Adventure') AND T1.imdb_id IN (SELECT movie_imdb_id FROM movie_cast INNER JOIN actors ON movie_cast.actor_id = actors.id WHERE actors.name = 'Leonardo DiCaprio') AND T1.imdb_id IN (SELECT movie_imdb_id FROM movie_cast INNER JOIN actors ON movie_cast.actor_id = actors.id WHERE actors.name = 'Tom Hardy')
  [Satır 84] SELECT T1.original_title FROM movies AS T1 INNER JOIN movie_genres AS T2 ON T1.imdb_id = T2.movie_imdb_id INNER JOIN genres AS T3 ON T2.genre_id = T3.id WHERE T3.name = 'Action' AND T1.release_date < '2000-01-01'
  [Satır 86] SELECT AVG(T1.runtime) FROM movies AS T1 INNER JOIN movie_crew AS T2 ON T1.imdb_id = T2.movie_imdb_id INNER JOIN crew_members AS T3 ON T2.crew_member_id = T3.id WHERE T3.name = 'Martin Scorsese' AND T2.job = 'Director'
  [Satır 88] SELECT T1.title FROM movies AS T1 WHERE T1.imdb_id IN (SELECT T2.movie_imdb_id FROM movie_genres AS T2 INNER JOIN genres AS T3 ON T2.genre_id = T3.id WHERE T3.name = 'Drama') AND T1.imdb_id NOT IN (SELECT T4.movie_imdb_id FROM movie_genres AS T4 INNER JOIN genres AS T5 ON T4.genre_id = T5.id WHERE T5.name = 'Romance') LIMIT 10
  [Satır 90] SELECT T1.title FROM movies AS T1 INNER JOIN movie_cast AS T2 ON T1.imdb_id = T2.movie_imdb_id INNER JOIN actors AS T3 ON T2.actor_id = T3.id WHERE T3.name = 'Morgan Freeman'
  [Satır 92] SELECT T3.name FROM movie_cast AS T2 INNER JOIN actors AS T3 ON T2.actor_id = T3.id WHERE T2.movie_imdb_id IN (SELECT imdb_id FROM movies WHERE title IN ('Blade Runner 2049', 'The Matrix', 'Mad Max: Fury Road')) GROUP BY T3.name HAVING COUNT(T3.name) > 1
  [Satır 96] SELECT title, runtime FROM movies ORDER BY runtime DESC LIMIT 5
  [Satır 100] SELECT T1.title FROM movies AS T1 WHERE T1.release_date BETWEEN '1990-01-01' AND '1999-12-31' AND T1.imdb_id IN (SELECT T2.movie_imdb_id FROM movie_genres AS T2 INNER JOIN genres AS T3 ON T2.genre_id = T3.id WHERE T3.name = 'Action') AND T1.imdb_id NOT IN (SELECT T4.movie_imdb_id FROM movie_cast AS T4 INNER JOIN actors AS T5 ON T4.actor_id = T5.id WHERE T5.name IN ('Tom Cruise', 'Brad Pitt')) LIMIT 10
  [Satır 102] SELECT T3.name FROM movies AS T1 INNER JOIN movie_languages AS T2 ON T1.imdb_id = T2.movie_imdb_id INNER JOIN spoken_languages AS T3 ON T2.language_id = T3.id WHERE T1.original_title = 'La vita è bella'
  [Satır 104] SELECT T3.name, COUNT(T1.imdb_id) AS film_sayisi FROM movies AS T1 INNER JOIN movie_crew AS T2 ON T1.imdb_id = T2.movie_imdb_id INNER JOIN crew_members AS T3 ON T2.crew_member_id = T3.id WHERE T2.job = 'Director' GROUP BY T3.name ORDER BY film_sayisi DESC LIMIT 3
  [Satır 107] SELECT T2.character FROM movies AS T1 INNER JOIN movie_cast AS T2 ON T1.imdb_id = T2.movie_imdb_id INNER JOIN actors AS T3 ON T2.actor_id = T3.id WHERE T3.name = 'Ian McKellen' AND T1.title LIKE '%The Lord of the Rings%'
  [Satır 109] SELECT T1.title FROM movies AS T1 WHERE T1.imdb_id IN (SELECT T2.movie_imdb_id FROM movie_genres AS T2 INNER JOIN genres AS T3 ON T2.genre_id = T3.id WHERE T3.name = 'Comedy') AND T1.imdb_id NOT IN (SELECT T4.movie_imdb_id FROM movie_cast AS T4 INNER JOIN actors AS T5 ON T4.actor_id = T5.id WHERE T5.name = 'Nicolas Cage') LIMIT 10
  [Satır 111] SELECT title FROM movies WHERE release_date BETWEEN '1980-01-01' AND '1989-12-31' AND imdb_id IN (SELECT movie_imdb_id FROM movie_genres INNER JOIN genres ON movie_genres.genre_id = genres.id WHERE genres.name = 'Science Fiction') LIMIT 5
  [Satır 115] SELECT T1.title FROM movies AS T1 INNER JOIN movie_cast AS T2 ON T1.imdb_id = T2.movie_imdb_id INNER JOIN actors AS T3 ON T2.actor_id = T3.id WHERE T3.name = 'Leonardo DiCaprio' AND T1.title IN ('The Dark Knight', 'Inception')
  [Satır 116] SELECT T1.title FROM movies AS T1 INNER JOIN movie_cast AS T2 ON T1.imdb_id = T2.movie_imdb_id INNER JOIN actors AS T3 ON T2.actor_id = T3.id WHERE T3.name IN ('Robert De Niro', 'Al Pacino') GROUP BY T1.title HAVING COUNT(DISTINCT T3.name) = 2
  [Satır 122] SELECT T1.title FROM movies AS T1 INNER JOIN movie_genres AS T2 ON T1.imdb_id = T2.movie_imdb_id INNER JOIN genres AS T3 ON T2.genre_id = T3.id WHERE T3.name IN ('Comedy', 'Science Fiction') GROUP BY T1.title LIMIT 5
  [Satır 124] SELECT title FROM movies WHERE title IN ('The Godfather', 'Goodfellas', 'Scarface') AND title != 'The Godfather'
  [Satır 128] SELECT T3.name FROM movie_cast AS T2 INNER JOIN actors AS T3 ON T2.actor_id = T3.id WHERE T2.movie_imdb_id = (SELECT imdb_id FROM movies WHERE title = 'Forrest Gump') AND T3.id IN (SELECT T5.id FROM movie_cast AS T4 INNER JOIN actors AS T5 ON T4.actor_id = T5.id INNER JOIN movie_genres AS T6 ON T4.movie_imdb_id = T6.movie_imdb_id INNER JOIN genres AS T7 ON T6.genre_id = T7.id WHERE T7.name = 'Drama')
  [Satır 130] SELECT title, release_date FROM movies WHERE title LIKE '%Star%'
  [Satır 134] SELECT runtime FROM movies WHERE title = 'Pulp Fiction'
  [Satır 136] SELECT T1.title FROM movies AS T1 INNER JOIN movie_crew AS T2 ON T1.imdb_id = T2.movie_imdb_id INNER JOIN crew_members AS T3 ON T2.crew_member_id = T3.id WHERE T1.title IN ('Se7en', 'Fight Club', 'Inglourious Basterds') AND T3.name = 'David Fincher' AND T2.job = 'Director'
  [Satır 138] SELECT T1.title FROM movies AS T1 INNER JOIN movie_companies AS T2 ON T1.imdb_id = T2.movie_imdb_id INNER JOIN production_companies AS T3 ON T2.company_id = T3.id WHERE T3.name = 'Pixar Animation Studios' LIMIT 5
  [Satır 140] SELECT T1.title FROM movies AS T1 WHERE T1.imdb_id IN (SELECT T2.movie_imdb_id FROM movie_crew AS T2 INNER JOIN crew_members AS T3 ON T2.crew_member_id = T3.id WHERE T3.name = 'Tim Burton' AND T2.job = 'Director') AND T1.imdb_id IN (SELECT T4.movie_imdb_id FROM movie_cast AS T4 INNER JOIN actors AS T5 ON T4.actor_id = T5.id WHERE T5.name = 'Johnny Depp') LIMIT 3
  [Satır 144] SELECT T1.title FROM movies AS T1 INNER JOIN movie_crew AS T2 ON T1.imdb_id = T2.movie_imdb_id INNER JOIN crew_members AS T3 ON T2.crew_member_id = T3.id WHERE T3.name LIKE '%Christopher Nolan%' AND T2.job = 'Director'
  [Satır 146] SELECT title FROM movies WHERE title LIKE '%love%'
  [Satır 148] SELECT T3.name FROM movies AS T1 INNER JOIN movie_languages AS T2 ON T1.imdb_id = T2.movie_imdb_id INNER JOIN spoken_languages AS T3 ON T2.language_id = T3.id WHERE T1.title = 'Parasite'
  [Satır 155] SELECT runtime FROM movies WHERE title = '12 Angry Men'
  [Satır 158] SELECT T1.title FROM movies AS T1 WHERE T1.imdb_id IN (SELECT T2.movie_imdb_id FROM movie_crew AS T2 INNER JOIN crew_members AS T3 ON T2.crew_member_id = T3.id WHERE T3.name = 'Quentin Tarantino' AND T2.job = 'Director') AND T1.imdb_id IN (SELECT T4.movie_imdb_id FROM movie_genres AS T4 INNER JOIN genres AS T5 ON T4.genre_id = T5.id WHERE T5.name = 'Crime') AND T1.imdb_id IN (SELECT movie_imdb_id FROM movie_cast INNER JOIN actors ON movie_cast.actor_id = actors.id WHERE actors.name = 'Samuel L. Jackson') AND T1.imdb_id IN (SELECT movie_imdb_id FROM movie_cast INNER JOIN actors ON movie_cast.actor_id = actors.id WHERE actors.name = 'Uma Thurman')
  [Satır 161] SELECT T1.title FROM movies AS T1 INNER JOIN movie_cast AS T2 ON T1.imdb_id = T2.movie_imdb_id INNER JOIN actors AS T3 ON T2.actor_id = T3.id WHERE T3.name = 'Al Pacino' AND T1.imdb_id NOT IN (SELECT T4.movie_imdb_id FROM movie_crew AS T4 INNER JOIN crew_members AS T5 ON T4.crew_member_id = T5.id WHERE T5.name = 'Francis Ford Coppola' AND T4.job = 'Director')
  [Satır 166] SELECT T1.title FROM movies AS T1 INNER JOIN movie_crew AS T2 ON T1.imdb_id = T2.movie_imdb_id INNER JOIN crew_members AS T3 ON T2.crew_member_id = T3.id WHERE T3.name = 'James Cameron' AND T2.job = 'Director' AND T1.release_date > '1990-01-01'
  [Satır 168] SELECT T1.title FROM movies AS T1 INNER JOIN movie_crew AS T2 ON T1.imdb_id = T2.movie_imdb_id INNER JOIN crew_members AS T3 ON T2.crew_member_id = T3.id WHERE T3.name = 'Christopher Nolan' AND T2.job = 'Director' AND T1.imdb_id NOT IN (SELECT T4.movie_imdb_id FROM movie_cast AS T4 INNER JOIN actors AS T5 ON T4.actor_id = T5.id WHERE T5.name = 'Christian Bale')
  [Satır 171] SELECT T3.name FROM movies AS T1 INNER JOIN movie_crew AS T2 ON T1.imdb_id = T2.movie_imdb_id INNER JOIN crew_members AS T3 ON T2.crew_member_id = T3.id WHERE T1.title = 'Inception' AND T2.job = 'Director'
  [Satır 174] SELECT T1.title FROM movies AS T1 INNER JOIN movie_genres AS T2 ON T1.imdb_id = T2.movie_imdb_id INNER JOIN genres AS T3 ON T2.genre_id = T3.id WHERE T3.name = 'Animation' AND T1.release_date > '2010-01-01'
  [Satır 176] SELECT T3.name FROM movies AS T1 INNER JOIN movie_cast AS T2 ON T1.imdb_id = T2.movie_imdb_id INNER JOIN actors AS T3 ON T2.actor_id = T3.id WHERE T1.title = 'The Dark Knight'
  [Satır 178] SELECT T1.title FROM movies AS T1 WHERE (SELECT COUNT(T2.language_id) FROM movie_languages AS T2 INNER JOIN spoken_languages AS T3 ON T2.language_id = T3.id WHERE T2.movie_imdb_id = T1.imdb_id AND T3.name IN ('English', 'French')) = 2
  [Satır 180] SELECT title FROM movies WHERE runtime > 180
  [Satır 181] SELECT T1.title FROM movies AS T1 INNER JOIN movie_crew AS T2 ON T1.imdb_id = T2.movie_imdb_id INNER JOIN crew_members AS T3 ON T2.crew_member_id = T3.id WHERE T3.name = 'Tim Burton' AND T2.job = 'Director' AND T1.imdb_id NOT IN (SELECT T4.movie_imdb_id FROM movie_cast AS T4 INNER JOIN actors AS T5 ON T4.actor_id = T5.id WHERE T5.name = 'Johnny Depp')
  [Satır 183] SELECT T3.name FROM movies AS T1 INNER JOIN movie_crew AS T2 ON T1.imdb_id = T2.movie_imdb_id INNER JOIN crew_members AS T3 ON T2.crew_member_id = T3.id WHERE T1.title = 'Pulp Fiction' AND T2.job = 'Director'
  [Satır 184] SELECT title FROM movies WHERE title LIKE '%Yüzüklerin%'
  [Satır 186] SELECT COUNT(T1.movie_imdb_id) FROM movie_cast AS T1 INNER JOIN actors AS T2 ON T1.actor_id = T2.id WHERE T2.name = 'Keanu Reeves'
  [Satır 187] SELECT title FROM movies ORDER BY release_date DESC LIMIT 5
  [Satır 191] SELECT T1.title FROM movies AS T1 INNER JOIN movie_companies AS T2 ON T1.imdb_id = T2.movie_imdb_id INNER JOIN production_companies AS T3 ON T2.company_id = T3.id WHERE T3.name = 'Pixar Animation Studios'
  [Satır 194] SELECT DISTINCT T1.title FROM movies AS T1 INNER JOIN movie_cast AS T2 ON T1.imdb_id = T2.movie_imdb_id INNER JOIN actors AS T3 ON T2.actor_id = T3.id WHERE T3.name = 'Al Pacino' OR T3.name = 'Robert De Niro'
  [Satır 197] SELECT title FROM movies WHERE strftime('%Y-%m', release_date) = '1999-10'
  [Satır 200] SELECT T3.name FROM movies AS T1 INNER JOIN movie_crew AS T2 ON T1.imdb_id = T2.movie_imdb_id INNER JOIN crew_members AS T3 ON T2.crew_member_id = T3.id WHERE T1.title = 'Inception' AND T2.job = 'Director of Photography'
  [Satır 203] SELECT T1.title FROM movies AS T1 INNER JOIN movie_countries AS T2 ON T1.imdb_id = T2.movie_imdb_id INNER JOIN countries AS T3 ON T2.country_id = T3.id WHERE T3.name = 'France' AND T1.title IN ('Ratatouille', 'Julie & Julia', 'Le Dîner de Cons', 'La Passion de Dodin Bouffant')

❌ Hatalı SQL sorguları:

In [ ]:
import sqlite3
import os

def get_compressed_schema(db_path: str) -> str:
    if not os.path.exists(db_path):
        return f"Hata: Veritabanı dosyası bulunamadı -> {db_path}"

    conn = None
    try:
        conn = sqlite3.connect(db_path)
        cursor = conn.cursor()


        cursor.execute("SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite_%';")
        tables = cursor.fetchall()

        all_table_schemas = []
        for table_name_tuple in tables:
            table_name = table_name_tuple[0]
            
            cursor.execute(f"PRAGMA table_info({table_name});")
            columns = cursor.fetchall()
            
            column_names = [column[1] for column in columns]
            
            table_schema_str = f"{table_name}({','.join(column_names)})"
            all_table_schemas.append(table_schema_str)

        return "; ".join(all_table_schemas)

    except sqlite3.Error as e:
        return f"Veritabanı hatası: {e}"
    finally:
        if conn:
            conn.close()

dummy_db_path = "movies_final.db"

compressed_schema = get_compressed_schema(dummy_db_path)

print("--- SIKIŞTIRILMIŞ VERİTABANI ŞEMASI ---")
print(compressed_schema)

os.remove(dummy_db_path)

--- SIKIŞTIRILMIŞ VERİTABANI ŞEMASI ---
movies(imdb_id,title,original_title,overview,tagline,release_date,runtime,original_language,adult); genres(id,name); production_companies(id,name); countries(id,name); spoken_languages(id,name); actors(id,name); crew_members(id,name); movie_genres(movie_imdb_id,genre_id); movie_companies(movie_imdb_id,company_id); movie_countries(movie_imdb_id,country_id); movie_languages(movie_imdb_id,language_id); movie_cast(movie_imdb_id,actor_id,character); movie_crew(movie_imdb_id,crew_member_id,job)

In [ ]:
import json


INPUT_DOSYA_ADI = "verii.txt"

OUTPUT_DOSYA_ADI = "guncellenmis_verim.txt"


YENI_SEMA_METNI = "Tablo: movies(imdb_id,title,original_title,overview,tagline,release_date,runtime,original_language,adult); genres(id,name); production_companies(id,name); countries(id,name); spoken_languages(id,name); actors(id,name); crew_members(id,name); movie_genres(movie_imdb_id,genre_id); movie_companies(movie_imdb_id,company_id); movie_countries(movie_imdb_id,country_id); movie_languages(movie_imdb_id,language_id); movie_cast(movie_imdb_id,actor_id,character); movie_crew(movie_imdb_id,crew_member_id,job)"

def standardize_db_schema(input_path, output_path, new_schema):

    try:
        lines_processed = 0
        lines_changed = 0

        with open(input_path, 'r', encoding='utf-8') as infile, \
             open(output_path, 'w', encoding='utf-8') as outfile:

            for line in infile:
                if not line.strip():
                    continue
                
                lines_processed += 1
                try:
                    data = json.loads(line)

                    if 'input' in data and isinstance(data.get('input'), dict):
                        if 'db_schema' in data['input']:
                            data['input']['db_schema'] = new_schema
                            lines_changed += 1
                    

                    updated_line = json.dumps(data, ensure_ascii=False)
                    outfile.write(updated_line + '\n')

                except json.JSONDecodeError:

                    print(f"Uyarı: {lines_processed}. satır JSON formatında değil. Olduğu gibi kopyalanıyor.")
                    outfile.write(line)

        print("\nİşlem başarıyla tamamlandı!")
        print(f"-> Toplam {lines_processed} satır işlendi.")
        print(f"-> {lines_changed} satırda 'db_schema' alanı güncellendi.")
        print(f"-> Sonuçlar '{output_path}' dosyasına kaydedildi.")

    except FileNotFoundError:
        print(f"HATA: '{input_path}' adında bir dosya bulunamadı. Dosya adını kontrol edin.")
    except Exception as e:
        print(f"Beklenmedik bir hata oluştu: {e}")


if __name__ == "__main__":
    standardize_db_schema(INPUT_DOSYA_ADI, OUTPUT_DOSYA_ADI, YENI_SEMA_METNI)

İşlem başarıyla tamamlandı!
-> Toplam 225 satır işlendi.
-> 65 satırda 'db_schema' alanı güncellendi.
-> Sonuçlar 'guncellenmis_verim.txt' dosyasına kaydedildi.